.swiper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #4F46E5 !important;
}

.swiper-pagination-bullet-active {
    background: #4F46E5 !important;
}
